<%= form_for @contact, url: {action: "create"} do |f|%>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this Contact from being saved:</h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  First Name: <%= f.text_field :first_name%>
Last Name:  <%= f.text_field :last_name%>
 Phone Number: <%= f.text_field :phonenumber%>
  <%= f.submit "create" %>
<% end %>
